.bg-image {
    width: 1280px;
    height: 620px ;
    background-image: url('../../assets/CoverImage.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    border-radius: 40px;
    border: 5px solid rebeccapurple;
    
}